*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    color: #fff;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}



header{
    /* add background images */
    background: url("./images/developer.png"),url("./images/header_bg.png"),#FFF8F3;
    background-color: #FFF8F3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.font_orange{
    color: #FD6E0A;
}
nav{
   
    width:  71%; /*1140/1600 takes 71% of the container.container=1600px*/
    max-width: 1140px;/*even if the container greater than 1600px nav will not exceed 1140px*/
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display:flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner{
    /* border: 5px solid tomato; */
    margin: 49px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#banner .banner-content{
     max-width: 585px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
   
}
#banner .banner-content h1{
    color:#181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color:#757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle; /*to remove gap after hardy image*/
}
#about{
    
    margin-top:130px;
}
#about .about-container{
    width: 71%;
    margin: 0 auto;
    max-width: 1140px;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
    text-align: center;
}
.about-info{
    display: flex;
    gap:50px;
    justify-content: center;
    
}
.about-info p{
    font-size: 20px;
    color: #757575;
}
.about-info h4{
    font-weight: bold;
    color: #474747;
    font-size: 20px;
}
#skills{
    margin-top: 130px;
}
.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-card{
    display: flex;
    gap: 24px;
}
.skill-container .card{
    max-width: 267px;
    border-radius: 5px;
    padding: 33px;
    box-shadow: 0px 6px 50px 0px #00000017;
}
.skill-container .card p{
    line-height: 28px;
    font-size: 16px;
    color: #757575;
   
}
.skill-container .card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-container .card h3{
    margin-bottom: 20px;
    font-size: 20px;
}
#resume{
    margin-top: 130px;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 71px;
}
.resume-container h2{
        margin-top: 113px;
        color: #474747;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
}
.resume-container .education-card{
    max-width: 511px;
}
.resume-container .experience-card{
    max-width: 511px;
}
.resume-container h3{
        color: #474747;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
}

.resume-container h5{
        color: #757575;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
}
.resume-container p{
        color: #757575;
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 28px;
        margin-right:47px;
}
.resume-container hr{
    max-width: 558px;
    color: #d1d1d13f;
    margin-bottom: 30px;
}
#centrebtn{
    text-align: center;
}


